#banner_part_first {
    display: none;
}

#navbar {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}