.table_type_one>caption,
figcaption {
    font-size: 18px;
    font-family: Helvetica;
    color: white;
    background-color: var(--primary-green);
    width: 80%;
    text-align: center;
    height: 60px;
    line-height: 60px;
    padding: auto;
}

.table_type_one {
    text-align: center;
    font-family: Helvetica;
    width: 100%;
}

.table_type_one>caption {
    width: 100%;
    margin-top: 2%;
}

.table_type_one thead>tr {
    background-color: black;
    color: #fff;
}

.table_type_one th {
    font-weight: normal;
}

.table_type_one col:first-of-type {
    width: 15%;
}

.table_type_one {
    caption-side: bottom;
    text-align: center;
}